{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    {% block title %}
    Student List
    {% endblock %}
    
{% block content %}
<article class="blog-post">
    
    <h2>Welcome to Customer List</h2>
    <h1>Customer List</h1>
<a href="{% url 'customer_create' %}">Add Customer</a>
<ul>
    <table>
        <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        
        {% for customer in customer_list %}
        
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{customer.customer_name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone_no}}</td>
        </tr>
        
        {% endfor %}
        </table>
</ul>

{% endblock %}


</body>
</html>